<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head th:fragment="common_header(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">Title</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
    <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/webjars/bootstrap-datetimepicker/2.4.2/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" th:src="@{/js/cart.js}"></script>
</head>
<body>
    <section th:fragment="nav-section">
        <nav class="navbar navbar-expand navbar-light bg-light justify-content-between">
            <a class="navbar-brand" th:href="@{/}">Авирейсы</a>
            <div class="navbar-collapse collapse" id="navbarNav">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" th:href="@{/home}">Главная</a></li>
                    <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" th:href="@{/login}">Вход</a></li>
                    <li sec:authorize="isAnonymous()" class="nav-item"><a class="nav-link" th:href="@{/register}">Регистрация</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/flight}">Рейсы</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/flight/connect}">Рейсы с пересадками</a></li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="cityDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Города
                        </a>
                        <div class="dropdown-menu" aria-labelledby="cityDropdown">
                            <a th:href="@{/city/create}" class="dropdown-item">Создать</a>
                            <a th:href="@{/city}" class="dropdown-item">Список</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="countryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Страны
                        </a>
                        <div class="dropdown-menu" aria-labelledby="countryDropdown">
                            <a th:href="@{/country/create}" class="dropdown-item">Создать</a>
                            <a th:href="@{/country}" class="dropdown-item">Список</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="airportDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Аэропорты
                        </a>
                        <div class="dropdown-menu" aria-labelledby="airportDropdown">
                            <a th:href="@{/airport/create}" class="dropdown-item">Создать</a>
                            <a th:href="@{/airport}" class="dropdown-item">Список</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="airlineDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Авиакомпании
                        </a>
                        <div class="dropdown-menu" aria-labelledby="airlineDropdown">
                            <a th:href="@{/airline/create}" class="dropdown-item">Создать</a>
                            <a th:href="@{/airline}" class="dropdown-item">Список</a>
                        </div>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ml-auto"><a class="nav-link" th:href="@{/logout}">Выйти</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li sec:authorize="isAuthenticated()" class="nav-item"><span sec:authentication="name" class="navbar-text">username</span></li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ml-1">
                        Баланс: <span th:text="${session.client.balance}" class="navbar-text"></span>
                        Количество: <span th:text="${session.cart.itemCount}" class="navbar-text cart-quantity"></span>
                        Cтоимость: <span th:text="${session.cart.total}" class="navbar-text cart-total"></span>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item ml-1"><a th:href="@{/booking/cart}" class="btn btn-warning btn-sm navbar-text">Перейти</a></li>
                </ul>
            </div>
        </nav>
    </section>

</body>
</html>